.navbar-inverse {
    border-radius: 0 0 4px 4px;
}
.navbar-inverse {
    background-color: #2E303B;
    border-color: #2E303B;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #CD483F;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #2E303B;
    background-color: #CD483F;
}
div.container.dashboard {
    margin-top: 150px;
}
.dashboard p {
    color: #6a737d;
    padding: 20px;
}
.dashboard .row a {
    color: #E89B8D;
}
.dashboard .row a:hover {
    color: #CD483F;
}

/* Users page Design */
.users header {
    color: #2E303B;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.users table {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}
.users table thead {
    background-color: #CD483F;
    color: #2E303B;
}

/* Add new User */

.add-users form {
    width: 60%;
    margin: 80px auto;
}

.add-users form .input-group {
    margin-bottom: 20px;
}
.add-users form .row {
    text-align: center;
}

.add-users form .row button {
    width: 60%;
}

.add-users form .row button[type="submit"] {
    background-color: #92C393;
}

.add-users form .row button[type="reset"] {
    background-color: #CD483F;
}
