.navbar-inverse {
    border-radius: 0 0 4px 4px;
}
.navbar-inverse {
    background-color: #2E303B;
    border-color: #2E303B;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #CD483F;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #2E303B;
    background-color: #CD483F;
}
div.container.dashboard {
    margin-top: 150px;
}
.dashboard p {
    color: #6a737d;
    padding: 20px;
}
.dashboard .row a {
    color: #E89B8D;
}
.dashboard .row a:hover {
    color: #CD483F;
}